- content_for :page_title_prefix, "Statistics"

.grid-row
  .column-two-thirds
    %h1.heading-large
      Statistics

    %p.govuk-body
      This page is an event log used by the service team to measure and monitor the stability and performance of Teaching Jobs. It keeps a live count of key user interactions with the service since 20 April 2018 (the date we began recording statistics).

.grid-row
  .column-two-thirds
    %ul.stats
      - @audit_summary.each do |key, value|
        %li
          %code
            #{key}: #{value}
